---
layout: slide
---
{{{ content }}}
<footer>
  <div id="pie_datos">
		<div id="pie_datos_interior">
			<ul>
				<li class="pie_datos_logo1">
					<a title="Fundación General de la Universidad de La Laguna">
						<img src="assets/img/logo_Fundaciongeneral_color.png" width="120" height="27" alt="Fundación General de la Universidad de La Laguna" />
					</a></li>
				 <li class="pie_datos_logo2"><a title="ULL - Universidad de La Laguna"><img src="assets/img/logo_ULL_color.png" width="120" height="22" alt="ULL - Universidad de La Laguna" /></a></li>
         
         <li class="pie_datos_logo3"><a title="ISTAC - Instituto Canario de Estadística"><img src="assets/img/logo_istac.jpg" width="120" height="27" alt="ISTAC - Instituto Canario de Estadística" /></a></li>
			</ul>
		</div>
	</div>
</footer>

